body{
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0; 
}
a{
    font-size: 30px;
    color:  white;
    text-decoration: none;
    margin: 20px;
    transition: color 0.3s;
}
a:hover {
    color: blue;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

p{
    color: white;
    font-family: verdana;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
img{
    height: 300Px;
    width: 400Px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
     padding: 10px;
}
h1:hover {
    color: yellow;
}
 ul{
   color:white;
   font-size: 20px;
   list-style-type: none;
   padding: 0;
}
    li{
        margin: 5px;
    }   
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        color: white;
        padding: 10px;
    }
   th {
    background-color: grey;
    color: white;

}
    table{
        width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden; 
        align-content: center;
    }
    td{
        text-align: center;
    }
    form{
        color: white;
        font-size: 25px;
    }
    button{
color: black;
    }
    button:hover {
    color:blue;
}
 